<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="../../dist/subpage.css" rel="stylesheet">
    <title>Danke für deine Zusage</title>
</head>
<body class="_thank-you-subpage">
<main class="_centered-content">
    <div class="_thank-you">
        <h1>Danke für deine Rückmeldung!</h1>
        <p>Wenn du noch etwas ändern möchtest, kannst du die Seite einfach erneut ausfüllen.</p>
    </div>
</main>

<footer class="_sticky-footer">
    <div class="_footer-inner">
        <a class="button" href="/">← Startseite</a>
    </div>
</footer>
</body>
</html>
