<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Login</title>
    <link href="../../dist/subpage.css" rel="stylesheet">
</head>
<body class="_login-form-subpage">
<main class="_centered-content">
    <h1>Login</h1>
    <p>Bitte Passwort eingeben.</p>
    <form method="POST">
        <input name="password" placeholder="Passwort" type="password">
        <button type="submit">Anmelden</button>
    </form>
    <span class="error">[[LOGIN_ERROR]]</span>
</main>
</body>
</html>