@use '../variables' as *;

._gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 2rem;

  img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }
}