@use '../variables' as *;

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

input, textarea, select {
  font-family: var(--font-family);
  font-weight: var(--font-weight-text);
  color: var(--font-color);
  line-height: 1.65em;
  font-size: 15pt;
}

form label {
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  color: var(--font-color-bold);
  display: block;
  margin: 0 0 1em 0;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  -webkit-appearance: none;
  display: block;
  border: 0;
  background: var(--form-color-background);
  width: 100%;
  box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  line-height: 1.25em;
  padding: 0.75em 1em 0.75em 1em;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
  background: var(--background-color-alt);
}

form textarea {
  min-height: 11em;
}

form ::-webkit-input-placeholder {
  color: var(--form-color-placeholder) !important;
  line-height: 1.35em;
}

form :-moz-placeholder {
  color: var(--form-color-placeholder) !important;
}

form ::-moz-placeholder {
  color: var(--form-color-placeholder) !important;
}

form :-ms-input-placeholder {
  color: var(--form-color-placeholder) !important;
}

form ::-moz-focus-inner {
  border: 0;
}