<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Galerie</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../../dist/subpage.css" rel="stylesheet">
    <link href="../../vendor/baguetteBox/baguetteBox.min.css" rel="stylesheet">
    <script src="../../vendor/baguetteBox/baguetteBox.min.js"></script>
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        baguetteBox.run('._js_gallery-grid');
      });
    </script>
</head>
<body>
<main>
    <h1>Fotogalerie</h1>
    <p><a class="button" href="[[GALLERY_DOWNLOAD_LINK]]">Alle herunterladen</a></p>
    <div class="_gallery-grid _js_gallery-grid">
        [[PHOTO_GALLERY_ITEMS]]
    </div>
</main>

<footer class="_sticky-footer">
    <div class="_footer-inner">
        <a class="button" href="/">← Home</a>
    </div>
</footer>
</body>
</html>