<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <title>RSVP Übersicht</title>
    <meta content="300" http-equiv="refresh"> <!-- Refresh every 5 mins -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../../dist/subpage.css" rel="stylesheet">
</head>
<body class="_rsvp-list-subpage">
<main class="_centered-content">
    <h1>RSVP Übersicht</h1>
    <h2>✅ Zusagen</h2>
    <ul>
        [[RSVP_LIST_YES]]
    </ul>

    <h2>❌ Absagen</h2>
    <ul>
        [[RSVP_LIST_NO]]
    </ul>
</main>

<footer class="_sticky-footer">
    <div class="_footer-inner">
        <a class="button" href="/">← Startseite</a>
    </div>
</footer>
</body>
</html>
