@use 'variables' as *;

._header-image {
  position: relative;
  background-position: center center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  // Overwrite template
  &#header {
    h1, h2, div {
      color: var(--white);
    }
  }
}

._text-center {
  text-align: center;
}

@media screen and (min-width: $minDesktop) {
  #main > .container {
    width: var(--container-width);
  }
}